{% extends "base.html" %}
{% block content %}
<h1>{{ mode }} Author</h1>
<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div>
    {{ form.first_name.label_tag }} {{ form.first_name }} {{ form.first_name.errors }}
  </div>
  <div>
    {{ form.last_name.label_tag }} {{ form.last_name }} {{ form.last_name.errors }}
  </div>
  <div>
    <label>{{ form.is_best_seller }} {{ form.fields.is_best_seller.label }}</label>
    {{ form.is_best_seller.errors }}
  </div>
  <button type="submit">{{ mode }}</button>
</form>
{% endblock %}
